.ts.card:not(.no):not(.earlyspring), .ts.segment:not(.no):not(.earlyspring):not(.basic), .ts.message:not(.no):not(.earlyspring):not(.secondary), .ts.slate:not(.no):not(.earlyspring) {
  border: 0px solid #000 !important;
  -webkit-box-shadow: 0 5px 10px 1px rgba(167, 167, 167, 0.2);
  box-shadow: 0 5px 10px 1px rgba(167, 167, 167, 0.2);
  -webkit-transition: all .2s ease !important;
  -o-transition: all .2s ease !important;
  transition: all .2s ease !important; }

.ts.message.secondary:not(.no):not(.earlyspring) {
  border-bottom: 0px solid #000;
  border-top: 0px solid #000;
  border-right: 0px solid #000;
  -webkit-transition: all .2s ease !important;
  -o-transition: all .2s ease !important;
  transition: all .2s ease !important; }

a.ts.card:not(.no):not(.earlyspring) {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

a.ts.card:hover:not(.no):not(.earlyspring) {
  border: 0px solid #000 !important;
  -webkit-box-shadow: 5px 10px 1px rgba(167, 167, 167, 0.6) !important;
  box-shadow: 5px 10px 1px rgba(167, 167, 167, 0.6) !important;
  -webkit-transform: translateY(-1.25px) !important;
  -ms-transform: translateY(-1.25px) !important;
  transform: translateY(-1.25px) !important; }

.ts.card > .content > .header + .description:not(.no):not(.earlyspring) {
  margin-top: .4em; }
