code
  font-family: 'Ubuntu Mono', monospace
  word-break: break-all
  > span
    font-family: 'Ubuntu Mono', monospace
    word-break: break-all
    > span
      font-family: 'Ubuntu Mono', monospace
      word-break: break-all

.code
  font-family: 'Ubuntu Mono', monospace
  word-break: break-all
  mark
    font-family: 'Ubuntu Mono', monospace
    word-break: break-all

.ts.top.attached.label:first-child + :not(.attached)
  margin-top: 0rem !important

pre
  margin: 0px

@media screen and ( min-width: 992px )
  .page-nav-container
    max-height: 100vh
    overflow-y: scroll
    position: sticky
    top: 0
  