doctype html
html
    head
        title Tocas Xiaoan
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        // ICON
        link(rel='icon',href='icon.png')
        // Tocas UI
        link(rel='stylesheet', href='https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.css')
        // Tocas JS
        script(src='https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.js')
        // tocas Xiaoan
        link(href='ts.xiaoan.css', rel='stylesheet')
        // Tocas Xiaoan JS
        script(src='ts.xiaoan.js')
        // Font
        link(href='https://fonts.googleapis.com/css?family=Ubuntu+Mono', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
        // JQ https://cdnjs.com/libraries/jquery/
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // Search Engine
        meta(name='description', content='第一天，洨安創造了始春。第二天，始春延期了。第三天，始春持續延期好評熱映中。')
        meta(name='image', content='og.jpg')
        // Schema.org for Google
        meta(itemprop='name', content='Tocas Xiaoan')
        meta(itemprop='description', content='第一天，洨安創造了始春。第二天，始春延期了。第三天，始春持續延期好評熱映中。')
        meta(itemprop='image', content='og.jpg')
        // Twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:title', content='Tocas Xiaoan')
        meta(name='twitter:description', content='第一天，洨安創造了始春。第二天，始春延期了。第三天，始春持續延期好評熱映中。')
        meta(name='twitter:site', content='@gnehs_owo')
        meta(name='twitter:creator', content='@gnehs_owo')
        meta(name='twitter:image:src', content='og.jpg')
        // Open Graph Tags
        meta(name='og:title', content='Tocas Xiaoan')
        meta(name='og:description', content='第一天，洨安創造了始春。第二天，始春延期了。第三天，始春持續延期好評熱映中。')
        meta(name='og:image', content='og.jpg')
        meta(name='og:site_name', content='https://xiaoan.tocas-ui.com/')
        meta(name='og:locale', content='zh_TW')
        meta(name='og:type', content='website')
        style code,.code,.code mark {font-family: 'Ubuntu Mono', monospace,-apple-system, "Source Han Sans TC","Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN","Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;word-break: break-all;}*{font-family: 'Raleway',-apple-system, "Source Han Sans TC","Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN","Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;}
    body.ts.scrollbar
        include _nav.jade
        header.ts.heading.vertically.padded.fluid.slate
            .ts.center.aligned.container
                .ts.shake.huge.circular.xiaoan(style='background-color: white')
                h1.ts.center.aligned.header
                    | Tocas Xiaoan
                    .sub.header
                        | Tocas Xiaoan by 
                        a(href='http://gnehs.com.tw') 棒棒勝
                        |  & 
                        a(href='https://omwu.me') Henry Wu
                .ts.separated.stackable.buttons
                    a.ts.labeled.icon.primary.large.button(href='https://github.com/gnehs/Tocas-UI-Xiaoan/releases/latest', target='_blank')
                        i.download.icon
                        | 下載