doctype html
html
    head
        title Tocas Xiaoan
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        // ICON
        link(rel='icon',href='icon.png')
        // tocas Xiaoan
        link(href='ts.xiaoan.min.css', rel='stylesheet')
        // Tocas Xiaoan JS
        script(src='ts.xiaoan.min.js')
        // Font
        link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
        // JQ https://cdnjs.com/libraries/jquery/
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        //-底下是 https://github.com/gnehs/Jade 里的東東，你的放置位置可能不一樣，發 PR 時不要動到這裡
        include ./../Jade/_tocasui.jade
        include ./../Jade/_tags.jade
        +social_tags('Tocas Xiaoan','第一天，洨安創造了始春。第二天，始春延期了。第三天，始春持續延期好評熱映中。','og.jpg','https://xiaoan.tocas-ui.com/')
    body.ts.scrollbar
        include _nav.jade
        header.ts.heading.vertically.padded.fluid.slate
            .ts.center.aligned.container
                .ts.poyon.huge.circular.warning.xiaoan(style='background-color: white')
                h1.ts.center.aligned.header
                    | Tocas Xiaoan
                    .sub.header
                        | Tocas Xiaoan by 
                        a(href='http://gnehs.com.tw') 棒棒勝
                        |  & 
                        a(href='https://omwu.me') Henry Wu
                .ts.separated.stackable.buttons
                    a.ts.labeled.icon.primary.large.button(href='https://github.com/gnehs/Tocas-UI-Xiaoan/releases/latest', target='_blank')
                        i.download.icon
                        | 下載
//- 標籤用模板
mixin inPage
    .ts.circular.basic.info.label 網頁中
mixin inConsole
    .ts.circular.basic.info.label Console
//- NAV 用模板
mixin NAVlink(name) 
    a.item(href='#'+name)=name
//- 標題用模板
mixin header(name,subheader) 
    h2.ts.header(id=name)=name
        block
        span.sub.header=subheader
//- 程式碼用模板
mixin code
    .ts.secondary.code.segment
        .ts.top.right.attached.label 原始碼
        block
    br
    br