.ts.basic.link.fluid.top.attached.menu.horizontally.scrollable
    .ts.container
        a.item(href='index.html') 洨洨安 CSS
        a.item(href='main-basic.html') 基本用法
        a.item(href='main-icon-font.html') Icon Font
        a.item(href='main-tocas-example.html') Tocas UI 範例
        a.item(href='breeding.html') 配種實驗室
        a.right.item(href='https://github.com/gnehs/Tocas-UI-Xiaoan/', target='_blank') GitHub