include _header.jade
br
br
.ts.container
    h2.ts.dividing.header 從這開始
        .sub.header 歡迎來到 Tocas Xiaoan
    h3.ts.header 引用
        .sub.header 下載並解壓縮後，保持資料夾結構，丟到你的網頁目錄，即可開始使用！
    .ts.secondary.code.segment
        ='<!-- 洨洨安 CSS -->'
        br
        = '<link rel="stylesheet" href="ts.xiaoan.css">'
        br
        ='<!-- 洨洨安 JS -->'
        br
        = '<script src="ts.xiaoan.js"></script>'
    br
    br
    h3.ts.header 外部引用
        .sub.header 不放在自家伺服器的方法，這裡有兩個位置可以自由選用
    .ts.secondary.code.segment
        ='<!------------------ RawGit ------------------>'
        br
        ='<!-- 洨洨安 CSS -->'
        br
        = '<link rel="stylesheet" href="https://cdn.rawgit.com/gnehs/Tocas-UI-Xiaoan/master/ts.xiaoan.css">'
        br
        ='<!-- 洨洨安 JS -->'
        br
        = '<script src="https://cdn.rawgit.com/gnehs/Tocas-UI-Xiaoan/master/ts.xiaoan.js"></script>'
        br
        = '<!------------------ / RawGit ------------------>'
    .ts.secondary.code.segment
        ='<!------------------ GitHub Page ------------------>'
        br
        ='<!-- 洨洨安 CSS -->'
        br
        = '<link rel="stylesheet" href="https://xiaoan.tocas-ui.com/ts.xiaoan.css">'
        br
        ='<!-- 洨洨安 JS -->'
        br
        = '<script src="https://xiaoan.tocas-ui.com/ts.xiaoan.js"></script>'
        br
        = '<!------------------ / GitHub Page ------------------>'
    br
    br
    h2.ts.dividing.header Tocas Xiaoan
        .sub.header 目標是征服宇宙
    .ts.fluid.segment
        .ts.circular.xiaoan
        .ts.primary.horny.xiaoan
        .ts.info.instead.xiaoan
        .ts.demon.warning.xiaoan
        .ts.demon.instead.positive.xiaoan
        .ts.kemonomimi.warning.xiaoan
        .ts.funny.face.xiaoan
        .ts.face.negative.xiaoan
        .ts.kemonomimi.instead.negative.xiaoan
        .ts.tissue.warning.xiaoan
    h3.ts.header 動畫組件
        .sub.header 一樣適用於 Tocas UI 組件
    .ts.circular.positive.shake.button 洨安洨安洨，直射你心的，洨洨安 ❤️
    .ts.circular.labeled.icon.shake.massive.button
        i.tissue.xiaoan.icon
        | 抽取式洨洨安販售中
    h3.ts.header 貢獻者
        .sub.header 沒有這些人，一樣會有 Tocas Xiaoan (##
    .ts.six.doubling.cards
        .ts.card
            .image
                img(src='https://avatars0.githubusercontent.com/u/8154476?v=3&s=460')
            .content
                .header Henry Wu
        .ts.card
            .image
                img(src='https://avatars1.githubusercontent.com/u/20151124?v=3&s=460')
            .content
                .header RexTg
        .ts.card
            .image
                img(src='https://avatars0.githubusercontent.com/u/7308718?v=3&s=460')
            .content
                .header Yami Odymel
include _footer.jade