include _header.jade
br
br
.ts.container
    h2.ts.header 我們是洨洨安
        .sub.header 目標是征服世界
    .ts.fluid.segment
        .ts.circular.xiaoan
        .ts.primary.horny.xiaoan
        .ts.info.instead.xiaoan
        .ts.demon.warning.xiaoan
        .ts.demon.instead.positive.xiaoan
        .ts.kemonomimi.warning.xiaoan
        .ts.funny.face.xiaoan
        .ts.face.negative.xiaoan
        .ts.kemonomimi.instead.negative.xiaoan
        .ts.tissue.warning.xiaoan
    h2.ts.header 動畫組件
        .sub.header 一樣適用於 Tocas UI 組件
    h3.ts.center.aligned.icon.shake.header
        i.xiaoan.icon
        | 2016 始春
        .sub.header 404 Not Found.
    .ts.circular.positive.shake.button 洨安洨安洨，直射你心的，洨洨安 <3
    .ts.circular.labeled.icon.shake.massive.button
        i.tissue.xiaoan.icon
        | 抽取式洨洨安販售中
include _footer.jade