include _header.jade
br
br
.ts.container
  .ts.relaxed.grid
    .sixteen.wide.mobile.four.wide.computer.column
      .ts.borderless.secondary.vertical.large.menu
        .ts.primary.header 分類
        a.item(href='#基本') 基本
        a.item(href='#品種') 品種
        .ts.primary.header 動畫
        a.item(href='#嗑藥中') 嗑藥中
        a.item(href='main-basic.html#震動') 震動
        a.item(href='main-basic.html#旋轉') 旋轉
        a.item(href='main-basic.html#動畫速度') 動畫速度
    .sixteen.wide.mobile.column.twelve.wide.computer
      h2.ts.header(id='基本')
        | 基本
        span.sub.header 最基本的洨安，大小預設與同層字級相同。
      i.icon.xiaoan
      | 2016 始春
      .ts.secondary.code.segment
        .ts.top.right.attached.label 原始碼
        = '<i class="xiaoan icon"></i> 2016始春'
      br
      br
      h2.ts.header(id='品種')
        | 品種
        .ts.circular.label 1.2 新增抽取式洨安
        span.sub.header 
          | 洨安可以和 ts xiaoan 一樣擁有相同的優良品種。
      p 註：為了讓大家清楚的看到洨安，底下的 Icon 都套用了 huge 標籤
      i.icon.huge.xiaoan
      i.icon.huge.instead.xiaoan
      i.icon.huge.demon.xiaoan
      i.icon.huge.demon.instead.xiaoan
      i.icon.huge.face.xiaoan
      i.icon.huge.face.instead.xiaoan
      i.icon.huge.funny.face.xiaoan
      i.icon.huge.funny.face.instead.xiaoan
      i.icon.huge.horny.xiaoan
      i.icon.huge.horny.instead.xiaoan
      i.icon.huge.kemonomimi.xiaoan
      i.icon.huge.kemonomimi.instead.xiaoan
      i.icon.huge.tissue.xiaoan
      i.icon.huge.spinner.xiaoan
      .ts.secondary.code.segment
        .ts.top.right.attached.label 原始碼
        = '<i class="huge xiaoan icon"></i>'
        br
        = '<i class="huge instead xiaoan icon"></i>'
        br
        = '<i class="huge demon xiaoan icon"></i>'
        br
        = '<i class="huge demon instead xiaoan icon"></i>'
        br
        = '<i class="huge face xiaoan icon"></i>'
        br
        = '<i class="huge face instead xiaoan icon"></i>'
        br
        = '<i class="huge funny face xiaoan icon"></i>'
        br
        = '<i class="huge funny face instead xiaoan icon"></i>'
        br
        = '<i class="huge horny xiaoan icon"></i>'
        br
        = '<i class="huge horny instead xiaoan icon"></i>'
        br
        = '<i class="huge kemonomimi xiaoan icon"></i>'
        br
        = '<i class="huge kemonomimi instead xiaoan icon"></i>'
        br
        = '<i class="huge tissue xiaoan icon"></i>'
        br
        = '<i class="huge spinner xiaoan icon"></i>'
        br
      h2.ts.header(id='嗑藥中')
        | 嗑藥中
        span.sub.header 比上面那個更像在嗑藥。
      i.massive.drug.icon.xiaoan
      .ts.secondary.code.segment
        .ts.top.right.attached.label 原始碼
        = '<i class="drug massive icon xiaoan"></i>'
include _footer.jade