include _header.jade
br
br
.ts.container
    .ts.relaxed.grid
        .sixteen.wide.mobile.four.wide.computer.column
            .ts.borderless.secondary.vertical.large.menu
                .ts.primary.header 卷軸
                a.item(href='#基本') 基本
        .sixteen.wide.mobile.column.twelve.wide.computer
            .ts.inverted.primary.message
                .header 溫馨提醒
                p 若要使用或是預覽此功能，您必須使用桌面版 WebKit 核心的瀏覽器（像是 Chrome）
            h2.ts.header(id='基本') 基本
              span.sub.header 洨洨安 CSS 支援卷軸功能，在您想替換卷軸的區塊放上 Class 即可。
            .ts.secondary.code.segment
                .ts.top.right.attached.label 原始碼
                = '<body class="ts scrollbar">'
                br
                = '...'
                br
                = '</body>'
            br
            br
include _footer.jade