include _header.jade
br
br
.ts.container
        .ts.relaxed.grid
                .sixteen.wide.mobile.four.wide.computer.column
                        .ts.borderless.secondary.vertical.large.menu
                                .ts.primary.header 開始使用
                                a.item(href='介紹') 介紹
                                a.item(href='#404找不到始春') 404 找不到始春
                                a.item(href='#我是洨安教') 我是洨安教
                                a.item(href='#每日洨安') 每日洨安
                                a.item(href='#基本洨安') 基本洨安
                .sixteen.wide.mobile.column.twelve.wide.computer
                        .ts.inverted.primary.message
                                .header 溫馨提醒
                                p 若要使用或是預覽此功能，您必須載入洨洨安 JS
                        h2.ts.header(id='介紹')
                            | 介紹
                            span.sub.header 一個基本的導覽
                        p 在 Tocas Xiaoan 中，所有功能皆有輸出在網頁中及輸出在 console 裡的版本，若您要輸出在 console 中，在後方加上 _con 即可
                        .ts.secondary.code.segment
                                .ts.top.right.attached.label 原始碼
                                = '//底下程式碼會輸出在網頁上'
                                br
                                = 'xiaoan.earlySpring404()'
                                br
                                = '//底下程式碼會輸出在 console 裡'
                                br
                                = 'xiaoan.earlySpring404_con()'
                                br
                        br
                        br
                        h2.ts.header(id='404找不到始春')
                            | 404 找不到始春
                            span.sub.header 輸出一個找不到始春的錯誤！網頁中會以一個 Tocas UI 的訊息框輸出，而且您可以指定樣式，樣式請參閱 
                                a(href='https://tocas-ui.com/collections/message/') Tocas UI
                        script.
                                xiaoan.earlySpring404()
                                xiaoan.earlySpring404("inverted warning")
                        .ts.secondary.code.segment
                                .ts.top.right.attached.label 原始碼
                                = 'xiaoan.earlySpring404()'
                                br
                                = 'xiaoan.earlySpring404("inverted warning")'
                        br
                        br
                        h2.ts.header(id='我是洨安教')
                            | 我是洨安教
                            span.sub.header 宣告你是洨安教，無法輸出在網頁
                        .ts.secondary.code.segment
                                .ts.top.right.attached.label 原始碼
                                = 'xiaoan.religion_con()'
                        br
                        br
                        h2.ts.header(id='每日洨安')
                            | 每日洨安
                            span.sub.header 輸出一句洨安在網路上公開講過的話，我們輸出一句在下面了
                        script.
                                xiaoan.daily()
                        .ts.secondary.code.segment
                                .ts.top.right.attached.label 原始碼
                                = 'xiaoan.daily()'
                        br
                        br
                        h2.ts.header(id='基本洨安')
                            | 基本洨安
                            span.sub.header 輸出洨洨安，您可以指定樣式，超棒 Der。但是無法在 console 內使用。
                        script.
                                xiaoan.basic()
                                xiaoan.basic("horny love big")
                        .ts.secondary.code.segment
                                .ts.top.right.attached.label 原始碼
                                = 'xiaoan.basic()'
                                br
                                = 'xiaoan.basic("horny love big")'
                        br
                        br
include _footer.jade