include _header.jade
br
br
.ts.container
    .ts.relaxed.grid
        .sixteen.wide.mobile.four.wide.computer.column
            .ts.borderless.secondary.vertical.large.menu
                .ts.primary.header 種類
                +NAVlink('基本')
                .ts.primary.header 外觀
                +NAVlink('尺寸')
                +NAVlink('流動')
                +NAVlink('圓角')
                +NAVlink('圓形')
                +NAVlink('置中')
                +NAVlink('品種')
                +NAVlink('語意')
                .ts.primary.header 動畫
                +NAVlink('震動')
                +NAVlink('旋轉')
                +NAVlink('動畫速度')
        .sixteen.wide.mobile.column.twelve.wide.computer
            +header('基本','最基本的洨安。')
            .ts.xiaoan
            +code
                .ts.top.right.attached.label 原始碼
                = '<div class="ts xiaoan"></div>'
                
            +header('尺寸','提供了八種尺寸。')
            .ts.mini.xiaoan
            .ts.tiny.xiaoan
            .ts.small.xiaoan
            .ts.xiaoan
            .ts.large.xiaoan
            .ts.big.xiaoan
            .ts.huge.xiaoan
            .ts.massive.xiaoan
            +code
                = '<div class="ts mini xiaoan"></div>'
                br
                = '<div class="ts tiny xiaoan"></div>'
                br
                = '<div class="ts small xiaoan"></div>'
                br
                = '<div class="ts xiaoan"></div>'
                br
                = '<div class="ts large xiaoan"></div>'
                br
                = '<div class="ts big xiaoan"></div>'
                br
                = '<div class="ts huge xiaoan"></div>'
                br
                = '<div class="ts massive xiaoan"></div>'
                br
                
            +header('流動','尺寸也可以是流動的，寬度會直接變成容器的 100%。')
            .ts.fluid.xiaoan
            +code
                = '<div class="ts fluid xiaoan"></div>'
            
            +header('圓角','不如加上一點圓角？')
            .ts.rounded.xiaoan
            +code
                = '<div class="ts rounded xiaoan"></div>'
            
            +header('圓形','你要圓形的也行。')
            .ts.circular.xiaoan
            +code
                = '<div class="ts circular xiaoan"></div>'
                
            +header('置中','可以左右置中，置右呢？自己寫吧。')
            .ts.centered.xiaoan
            +code
                = '<div class="ts centered xiaoan"></div>'
                
            +header('品種','洨安有多個品種！')
            .ts.xiaoan
            .ts.instead.xiaoan
            .ts.demon.xiaoan
            .ts.demon.instead.xiaoan
            .ts.face.xiaoan
            .ts.face.instead.xiaoan
            .ts.funny.face.xiaoan
            .ts.funny.face.instead.xiaoan
            .ts.horny.xiaoan
            .ts.horny.instead.xiaoan
            .ts.kemonomimi.xiaoan
            .ts.kemonomimi.instead.xiaoan
            .ts.tissue.xiaoan
            .ts.spinner.xiaoan
            .ts.heart.xiaoan
            .ts.heart.instead.xiaoan
            +code
                = '<div class="ts xiaoan"></div>'
                br
                = '<div class="ts instead xiaoan"></div>'
                br
                = '<div class="ts demon xiaoan"></div>'
                br
                = '<div class="ts demon instead xiaoan"></div>'
                br
                = '<div class="ts face xiaoan"></div>'
                br
                = '<div class="ts face instead xiaoan"></div>'
                br
                = '<div class="ts funny face xiaoan"></div>'
                br
                = '<div class="ts funny face instead xiaoan"></div>'
                br
                = '<div class="ts horny xiaoan"></div>'
                br
                = '<div class="ts horny instead xiaoan"></div>'
                br
                = '<div class="ts kemonomimi xiaoan"></div>'
                br
                = '<div class="ts kemonomimi instead xiaoan"></div>'
                br
                = '<div class="ts tissue xiaoan"></div>'
                br
                = '<div class="ts spinner xiaoan"></div>'
                br
                = '<div class="ts heart xiaoan"></div>'
                br
                = '<div class="ts heart instead xiaoan"></div>'
                br
                
            +header('語意','洨安也能夠具備語意，尼可以在配種中心配出更多的語意並且提交給開發人員。')
            .ts.primary.xiaoan
            .ts.info.instead.xiaoan
            .ts.demon.warning.xiaoan
            .ts.demon.instead.positive.xiaoan
            .ts.face.negative.xiaoan
            .ts.inverted.xiaoan
            .ts.exceedingly.light.blue.xiaoan.xiaoan
            .ts.gloomy.xiaoan
            .ts.NTR.xiaoan
            .ts.love.xiaoan
            .ts.EarlySpring.xiaoan
            +code
                = '<div class="ts primary xiaoan"></div>'
                br
                = '<div class="ts instead info xiaoan"></div>'
                br
                = '<div class="ts demon warning xiaoan"></div>'
                br
                = '<div class="ts demon instead positive xiaoan"></div>'
                br
                = '<div class="ts face negative xiaoan"></div>'
                br
                = '<div class="ts inverted xiaoan"></div>'
                br
                = '<div class="ts exceedingly light blue xiaoan xiaoan"></div>'
                br
                = '<div class="ts gloomy xiaoan"></div>'
                br
                = '<div class="ts NTR xiaoan"></div>'
                br
                = '<div class="ts love xiaoan"></div>'
                br
                = '<div class="ts EarlySpring xiaoan"></div>'
            
            +header('震動','洨安也能震動！')
            .ts.shake.xiaoan
            +code
                = '<div class="ts shake xiaoan"></div>'
                
            +header('旋轉','有看過指尖洨安嗎？')
            .ts.spinner.rotate.xiaoan
            +code
                = '<div class="ts spinner rotate xiaoan"></div>'
                
            +header('ㄉㄨㄞㄉㄨㄞ安','像布丁一樣晃動')
            .ts.poyon.xiaoan
            +code
                = '<div class="ts poyon xiaoan"></div>'

            h2.ts.header(id='動畫速度')
            +header('動畫速度','您可以指定速度，快(fast)、慢(slow)、始春(early spring)或是預設的速度(不指定)')
            .ts.spinner.fast.rotate.xiaoan
            .ts.spinner.rotate.xiaoan
            .ts.spinner.slow.rotate.xiaoan
            .ts.spinner.early.spring.rotate.xiaoan
            +code
                = '<div class="ts spinner fast rotate xiaoan"></div>'
                br
                = '<div class="ts spinner rotate xiaoan"></div>'
                br
                = '<div class="ts spinner slow rotate xiaoan"></div>'
                br
                = '<div class="ts spinner early spring rotate xiaoan"></div>'
include _footer.jade