/*
=============================================
	洨洨安 CSS
	https://xiaoan.tocas-ui.com/
	洨洨安 CSS by 棒棒勝
	文件 by Henry Wu
=============================================

		沒有到不了的始春，只有不會到的始春

=============================================
*/
/* 
	品種
*/
.ts.xiaoan {
	background-image: url(svg/xiaoan.svg);
	width: 100px;
	height: 100px;
	background-position: center;
	background-size: 100px 100px;
	display: inline-block;
}

.ts.xiaoan.instead {
	background-image: url(svg/xiaoan.instead.svg);
}
.ts.xiaoan.demon.instead {
	background-image: url(svg/demon.instead.svg);
}
.ts.xiaoan.demon {
	background-image: url(svg/demon.svg);
}
.ts.xiaoan.face.instead {
	background-image: url(svg/face.instead.svg);
}
.ts.xiaoan.face{
	background-image: url(svg/face.svg);
}
.ts.xiaoan.funny.face.instead {
	background-image: url(svg/funny.face.instead.svg);
}
.ts.xiaoan.funny.face {
	background-image: url(svg/funny.face.svg);
}
.ts.xiaoan.horny {
	background-image: url(svg/horny.svg);
}
.ts.xiaoan.horny.instead {
	background-image: url(svg/horny.instead.svg);
}
.ts.xiaoan.kemonomimi {
	background-image: url(svg/kemonomimi.svg);
}
.ts.xiaoan.kemonomimi.instead {
	background-image: url(svg/kemonomimi.instead.svg);
}
.ts.xiaoan.tissue {
	background-image: url(svg/tissue.svg);
}
.ts.xiaoan.spinner {
	background-image: url(svg/spinner.svg);
}
/* 
	大小 
*/
.ts.xiaoan.mini {
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
}

.ts.xiaoan.tiny {
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
}

.ts.xiaoan.small {
	width: 75px;
	height: 75px;
	background-size: 75px 75px;
}

.ts.xiaoan.large {
	width: 125px;
	height: 125px;
	background-size: 125px 125px;
}

.ts.xiaoan.big {
	width: 150px;
	height: 150px;
	background-size: 150px 150px;
}

.ts.xiaoan.huge {
	width: 200px;
	height: 200px;
	background-size: 200px 200px;
}

.ts.xiaoan.massive {
	width: 250px;
	height: 250px;
	background-size: 250px 250px;
}
/* 
	從 .ts.image 搬運過來的一些功能 
*/
.ts.xiaoan.rounded {
	border-radius: .3125em;
}

.ts.xiaoan.circular {
	border-radius: 500em;
}

.ts.xiaoan.circular {
	border-radius: 500em;
}

.ts.xiaoan.centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.ts.xiaoan.fluid {
	background-size: 100% 100%;
  	padding-bottom: 100%;
  	width: 100%;
  	height: 0;
}
/* 
	Icon Font 
*/
@font-face {
  font-family: 'xiaoan';
  src:
    url('fonts/xiaoan.ttf?izxrsk') format('truetype'),
    url('fonts/xiaoan.woff?izxrsk') format('woff'),
    url('fonts/xiaoan.svg?izxrsk#xiaoan') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.xiaoan:before {
  font-family: 'xiaoan' !important;
}
i.xiaoan.demon.instead:before {
  content: "\e900";
}
i.xiaoan.demon:before {
  content: "\e901";
}
i.xiaoan.face.instead:before {
  content: "\e902";
}
i.xiaoan.face:before {
  content: "\e903";
}
i.xiaoan.funny.face.instead:before {
  content: "\e904";
}
i.xiaoan.funny.face:before {
  content: "\e905";
}
i.xiaoan.horny.instead:before {
  content: "\e906";
}
i.xiaoan.horny:before {
  content: "\e907";
}
i.xiaoan.kemonomimi.instead:before {
  content: "\e908";
}
i.xiaoan.kemonomimi:before {
  content: "\e909";
}
i.xiaoan.instead:before {
  content: "\e90b";
}
i.xiaoan:before {
  content: "\e90a";
}
i.xiaoan.tissue:before {
  content: "\e90c";
}
i.xiaoan.spinner:before {
  content: "\e90d";
}
/*
	修正洨安在 ts image 下吐洨的情形
*/
.ts.image:not(.label)>.icon.xiaoan:not(.button) {
    -webkit-text-stroke: 1px #fff;
    text-stroke:1px #fff;
}
/* 
	語意化 
*/
i.xiaoan.rainbow{
	  background: linear-gradient(to bottom, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ts.xiaoan.primary{
	  filter: invert(.5) sepia(1) hue-rotate(170deg);
}
.ts.xiaoan.info{
	  filter: invert(.5) sepia(1) hue-rotate(220deg);
}
.ts.xiaoan.warning{
	  filter: invert(.7) sepia(1) saturate(2.8) brightness(1) hue-rotate(10deg);
}
.ts.xiaoan.positive{
	  filter: invert(.7) sepia(1) brightness(.7) hue-rotate(10deg);
}
.ts.xiaoan.negative{
	  filter: invert(.7) sepia(1) saturate(5) brightness(.5) hue-rotate(300deg);
}
.ts.xiaoan.inverted{
	  filter: invert(0.92);
}
/*
	動畫
	------------------
				 速度
	fast 				 快
	slow 				 慢
	early spring 夭壽慢
	-----------------
	簡寫
	animation: name duration timing-function delay iteration-count direction;
	-----------------
*/

/* 震動 */
.shake{
	animation: shake .01s linear infinite;
}
.shake.fast{
  animation-duration: .005s;
}
.shake.slow{
  animation-duration: .02s;
}
.shake.early.spring{
  animation-duration: 40s;
}
@keyframes shake {
	0%, 100% {
		transform: translate(0, 0) rotate(0); 
		filter:opacity(1);
	}
	25% {
		transform: translate(-2.5px, -2.5px) rotate(-1.52deg); 
		filter:opacity(.95);
	}
	40% {
		transform: translate(-2.5px, 2.5px) rotate(2.5deg); 
		filter:opacity(1);
	}
	50% {
		transform: translate(2.5px, 2.5px) rotate(-1.75deg); 
		filter:opacity(.95);
	}
	60% {
		transform: translate(0px, 0px) rotate(5deg); 
		filter:opacity(1);
	}
	75% {
		transform: translate(2.5px, -2.5px) rotate(2.5deg); 
		filter:opacity(0);
	}
}
/* 旋轉 */
.rotate{
	animation: rotate .75s linear infinite;
}
.rotate.fast{
  animation-duration: .25s;
}
.rotate.slow{
  animation-duration: 1.5s;
}
.rotate.early.spring{
  animation-duration: 100s;
}
@keyframes rotate {
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}

/* 嗑藥 */
i.xiaoan.drug {
	background: linear-gradient(to bottom, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: drug 1s linear infinite, shake 10ms linear infinite, pulse-animation 10ms linear infinite, 2s linear infinite icon-loading;
	background-size: 700% 700% !important
}
@keyframes drug{ 
	0%{background-position:50% 0%}
	100%{background-position:50% 100%}
}

/* 
	卷軸樣式 
*/
.ts.scrollbar::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}
.ts.scrollbar::-webkit-scrollbar {
	width: 20px;
	height: 10px;
	background-color: #F5F5F5;
}
.ts.scrollbar::-webkit-scrollbar-thumb {
	background-image: url(svg/xiaoan.svg);
	background-position: center;
	background-size: 25px;
	border-radius: 5px;
	filter: invert(.7) sepia(1) saturate(5) brightness(.5) hue-rotate(300deg);
}
.ts.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/xiaoan.svg);
	background-position: center;
	background-size: 25px;
}
.ts.scrollbar::-webkit-scrollbar-thumb:horizontal {
	background-image: url(svg/xiaoan.svg);
	background-position: center;
	background-size: 12px;
}
/* 
	卷軸品種 
	*在視窗失焦時，將洨安替換為替身，或將替身替換為正身
*/
.ts.scrollbar::-webkit-scrollbar-thumb,
.ts.instead.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/xiaoan.svg);
}
.ts.instead.scrollbar::-webkit-scrollbar-thumb,
.ts.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/xiaoan.instead.svg);
}
.ts.demon.instead.scrollbar::-webkit-scrollbar-thumb,
.ts.demon.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/demon.instead.svg);
}
.ts.demon.scrollbar::-webkit-scrollbar-thumb,
.ts.demon.instead.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/demon.svg);
}
.ts.face.scrollbar::-webkit-scrollbar-thumb,
.ts.face.instead.scrollbar::-webkit-scrollbar-thumb:window-inactive{
	background-image: url(svg/face.svg);
}
.ts.face.instead.scrollbar::-webkit-scrollbar-thumb,
.ts.face.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/face.instead.svg);
}
.ts.funny.face.scrollbar::-webkit-scrollbar-thumb ,
.ts.funny.face.instead.scrollbar::-webkit-scrollbar-thumb:window-inactive{
	background-image: url(svg/funny.face.svg);
}
.ts.funny.face.instead.scrollbar::-webkit-scrollbar-thumb,
.ts.funny.face.scrollbar::-webkit-scrollbar-thumb:window-inactive  {
	background-image: url(svg/funny.face.instead.svg);
}
.ts.horny.scrollbar::-webkit-scrollbar-thumb,
.ts.horny.instead.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/horny.svg);
}
.ts.horny.instead.scrollbar::-webkit-scrollbar-thumb,
.ts.horny.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/horny.instead.svg);
}
.ts.kemonomimi.scrollbar::-webkit-scrollbar-thumb,
.ts.kemonomimi.instead.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/kemonomimi.svg);
}
.ts.kemonomimi.instead.scrollbar::-webkit-scrollbar-thumb ,
.ts.kemonomimi.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(svg/kemonomimi.instead.svg);
}
