/* 
	預設 
*/
.ts.xiaoan {
	background-image: url(xiaoan.svg);
	width: 100px;
	height: 100px;
	background-position: center;
	background-size: 100px 100px;
	display: inline-block;
}

.ts.xiaoan.instead {
	background-image: url(xiaoan.instead.svg);
}
/* 
	大小 
*/
.ts.xiaoan.mini {
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
}

.ts.xiaoan.tiny {
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
}

.ts.xiaoan.small {
	width: 75px;
	height: 75px;
	background-size: 75px 75px;
}

.ts.xiaoan.large {
	width: 125px;
	height: 125px;
	background-size: 125px 125px;
}

.ts.xiaoan.big {
	width: 150px;
	height: 150px;
	background-size: 150px 150px;
}

.ts.xiaoan.huge {
	width: 200px;
	height: 200px;
	background-size: 200px 200px;
}

.ts.xiaoan.massive {
	width: 250px;
	height: 250px;
	background-size: 250px 250px;
}
/* 
	從 .ts.image 搬運過來的一些功能 
*/
.ts.xiaoan.rounded {
	border-radius: .3125em;
}

.ts.xiaoan.circular {
	border-radius: 500em;
}

.ts.xiaoan.circular {
	border-radius: 500em;
}

.ts.xiaoan.centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.ts.xiaoan.fluid {
	background-size: 100% 100%;
  	padding-bottom: 100%;
  	width: 100%;
  	height: 0;
}
/* 
	Icon Font 
*/
@font-face {
	font-family: 'xiaoan';
	src:
		url('fonts/xiaoan.ttf?nhl6td') format('truetype'),
		url('fonts/xiaoan.woff?nhl6td') format('woff'),
		url('fonts/xiaoan.svg?nhl6td#xiaoan') format('svg');
	font-weight: normal;
	font-style: normal;
}

i.xiaoan:before {
	font-family: 'xiaoan' !important;
	content: "\e901";
}

i.xiaoan.instead:before {
	font-family: 'xiaoan' !important;
	content: "\e900";
}
/* 語意化 */
i.xiaoan.rainbow{
	background: linear-gradient(to bottom, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*
	動畫
*/
.ts.shake{
  display: inline-block;
  transform-origin: center center; 
  animation-name: shake;
  animation-duration: .01s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes shake {
	0%, 100% {
		transform: translate(0, 0) rotate(0); 
	}
	25% {
		transform: translate(-2.5px, -0.5px) rotate(-1.52deg); 
	}
	40% {
		transform: translate(5px, 2.5px) rotate(2.5deg); 
	}
	50% {
		transform: translate(2.5px, -3.5px) rotate(-1.75deg); 
	}
	60% {
		transform: translate(0px, 0px) rotate(5deg); 
	}
	75% {
		transform: translate(2.5px, -2.5px) rotate(2.5deg); 
	}
}

/*
	嗑藥版動畫
*/

i.xiaoan.drug {
	background: linear-gradient(to bottom, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: drug 1s linear infinite, shake 10ms linear infinite, pulse-animation 10ms linear infinite, 2s linear infinite icon-loading;
	background-size: 700% 700% !important
}
@keyframes drug{ 
	0%{background-position:50% 0%}
	100%{background-position:50% 100%}
}

/* 
	卷軸樣式 
*/
::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width: 20px;
	height: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-image: url(xiaoan.svg);
	background-position: center;
	background-size: 25px;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:window-inactive {
	background-image: url(xiaoan.instead.svg);
	background-position: center;
	background-size: 25px;
}
::-webkit-scrollbar-thumb:horizontal {
	background-image: url(xiaoan.svg);
	background-position: center;
	background-size: 12px;
}
