@charset "UTF-8";
@font-face {
  font-family: 'xiaoan';
  src: url("fonts/icomoon.eot?iwsv73#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?iwsv73") format("truetype"), url("fonts/icomoon.woff?iwsv73") format("woff"), url("fonts/icomoon.svg?iwsv73#icomoon") format("svg");
}

.ts.labeled.icon.button > i.xiaoan.icon:before {
  -webkit-transform: translateX(70%) translateY(-50%) !important;
  -ms-transform: translateX(70%) translateY(-50%) !important;
  transform: translateX(70%) translateY(-50%) !important;
  width: auto !important;
}

.ts.icon.input > i.xiaoan.icon:before {
  -webkit-transform: translateX(90%) !important;
  -ms-transform: translateX(90%) !important;
  transform: translateX(90%) !important;
  width: auto !important;
}

i.xiaoan.icon {
  text-stroke: 0.2em transparent;
  -webkit-text-stroke: 0.2em transparent;
  color: #999999;
  overflow: hidden;
  font-family: 'xiaoan' !important;
}

i.xiaoan.icon:before {
  content: "\6625";
  -webkit-mask-size: 100% 100% !important;
  mask-size: 100% 100% !important;
  -webkit-mask: url(svg/xiaoan.instead.svg);
  mask: url(svg/xiaoan.instead.svg);
}

i.xiaoan.icon.instead:before {
  -webkit-mask: url(svg/xiaoan.svg);
  mask: url(svg/xiaoan.svg);
}

i.xiaoan.icon.demon:before {
  -webkit-mask: url(svg/demon.svg);
  mask: url(svg/demon.svg);
}

i.xiaoan.icon.demon.instead:before {
  -webkit-mask: url(svg/demon.instead.svg);
  mask: url(svg/demon.instead.svg);
}

i.xiaoan.icon.face:before {
  -webkit-mask: url(svg/face.svg);
  mask: url(svg/face.svg);
}

i.xiaoan.icon.face.instead:before {
  -webkit-mask: url(svg/face.instead.svg);
  mask: url(svg/face.instead.svg);
}

i.xiaoan.icon.funny.face:before {
  -webkit-mask: url(svg/funny.face.svg);
  mask: url(svg/funny.face.svg);
}

i.xiaoan.icon.funny.face.instead:before {
  -webkit-mask: url(svg/funny.face.instead.svg);
  mask: url(svg/funny.face.instead.svg);
}

i.xiaoan.icon.horny:before {
  -webkit-mask: url(svg/horny.svg);
  mask: url(svg/horny.svg);
}

i.xiaoan.icon.horny.instead:before {
  -webkit-mask: url(svg/horny.instead.svg);
  mask: url(svg/horny.instead.svg);
}

i.xiaoan.icon.kemonomimi:before {
  -webkit-mask: url(svg/kemonomimi.svg);
  mask: url(svg/kemonomimi.svg);
}

i.xiaoan.icon.kemonomimi.instead:before {
  -webkit-mask: url(svg/kemonomimi.instead.svg);
  mask: url(svg/kemonomimi.instead.svg);
}

i.xiaoan.icon.tissue:before {
  -webkit-mask: url(svg/tissue.svg);
  mask: url(svg/tissue.svg);
}

i.xiaoan.icon.spinner:before {
  -webkit-mask: url(svg/spinner.svg);
  mask: url(svg/spinner.svg);
}

i.xiaoan.icon.heart:before {
  -webkit-mask: url(svg/heart.svg);
  mask: url(svg/heart.svg);
}

i.xiaoan.icon.heart.instead:before {
  -webkit-mask: url(svg/heart.instead.svg);
  mask: url(svg/heart.instead.svg);
}

.ts.xiaoan {
  -webkit-mask: url(svg/xiaoan.svg);
  mask: url(svg/xiaoan.svg);
  -webkit-mask-size: 100% 100% !important;
  mask-size: 100% 100% !important;
  width: 100px;
  height: 100px;
  color: #999999;
  background-color: currentColor;
  display: inline-block;
}

.ts.xiaoan.instead {
  -webkit-mask: url(svg/xiaoan.instead.svg);
  mask: url(svg/xiaoan.instead.svg);
}

.ts.xiaoan.demon {
  -webkit-mask: url(svg/demon.svg);
  mask: url(svg/demon.svg);
}

.ts.xiaoan.demon.instead {
  -webkit-mask: url(svg/demon.instead.svg);
  mask: url(svg/demon.instead.svg);
}

.ts.xiaoan.face {
  -webkit-mask: url(svg/face.svg);
  mask: url(svg/face.svg);
}

.ts.xiaoan.face.instead {
  -webkit-mask: url(svg/face.instead.svg);
  mask: url(svg/face.instead.svg);
}

.ts.xiaoan.funny.face {
  -webkit-mask: url(svg/funny.face.svg);
  mask: url(svg/funny.face.svg);
}

.ts.xiaoan.funny.face.instead {
  -webkit-mask: url(svg/funny.face.instead.svg);
  mask: url(svg/funny.face.instead.svg);
}

.ts.xiaoan.horny {
  -webkit-mask: url(svg/horny.svg);
  mask: url(svg/horny.svg);
}

.ts.xiaoan.horny.instead {
  -webkit-mask: url(svg/horny.instead.svg);
  mask: url(svg/horny.instead.svg);
}

.ts.xiaoan.kemonomimi {
  -webkit-mask: url(svg/kemonomimi.svg);
  mask: url(svg/kemonomimi.svg);
}

.ts.xiaoan.kemonomimi.instead {
  -webkit-mask: url(svg/kemonomimi.instead.svg);
  mask: url(svg/kemonomimi.instead.svg);
}

.ts.xiaoan.tissue {
  -webkit-mask: url(svg/tissue.svg);
  mask: url(svg/tissue.svg);
}

.ts.xiaoan.spinner {
  -webkit-mask: url(svg/spinner.svg);
  mask: url(svg/spinner.svg);
}

.ts.xiaoan.heart {
  -webkit-mask: url(svg/heart.svg);
  mask: url(svg/heart.svg);
}

.ts.xiaoan.heart.instead {
  -webkit-mask: url(svg/heart.instead.svg);
  mask: url(svg/heart.instead.svg);
}

.ts.xiaoan.mini {
  width: 25px;
  height: 25px;
  -webkit-mask-size: 25px 25px;
  mask-size: 25px 25px;
}

.ts.xiaoan.tiny {
  width: 50px;
  height: 50px;
  -webkit-mask-size: 50px 50px;
  mask-size: 50px 50px;
}

.ts.xiaoan.small {
  width: 75px;
  height: 75px;
  -webkit-mask-size: 75px 75px;
  mask-size: 75px 75px;
}

.ts.xiaoan.large {
  width: 125px;
  height: 125px;
  -webkit-mask-size: 125px 125px;
  mask-size: 125px 125px;
}

.ts.xiaoan.big {
  width: 150px;
  height: 150px;
  -webkit-mask-size: 150px 150px;
  mask-size: 150px 150px;
}

.ts.xiaoan.huge {
  width: 200px;
  height: 200px;
  -webkit-mask-size: 200px 200px;
  mask-size: 200px 200px;
}

.ts.xiaoan.massive {
  width: 250px;
  height: 250px;
  -webkit-mask-size: 250px 250px;
  mask-size: 250px 250px;
}

/*
 *	大小 */
/*
 *	從 .ts.image 搬運過來的一些功能 */
.ts.xiaoan.rounded {
  border-radius: .3125em;
}

.ts.xiaoan.circular {
  border-radius: 500em;
}

.ts.xiaoan.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ts.xiaoan.fluid {
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
}

/* 語意化 */
.ts.xiaoan.rainbow {
  background: -webkit-gradient(linear, left top, left bottom, from(#f00), color-stop(15%, #f0f), color-stop(33%, #00f), color-stop(49%, #0ff), color-stop(67%, #0f0), color-stop(84%, #ff0), to(#f00)) !important;
  background: -webkit-linear-gradient(top, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00) !important;
  background: -o-linear-gradient(top, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00) !important;
  background: linear-gradient(to bottom, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ts.xiaoan.primary {
  color: #7c9fbb;
}

.ts.xiaoan.info {
  color: #eed94d;
}

.ts.xiaoan.warning {
  color: #b28f2f;
}

.ts.xiaoan.positive {
  color: #15ae17;
}

.ts.xiaoan.negative {
  color: #db0007;
}

.ts.xiaoan.inverted {
  color: #dedede;
}

.ts.xiaoan.exceedingly.light.blue.xiaoan {
  color: #5d9394;
}

.ts.xiaoan.gloomy {
  color: #687985;
}

.ts.xiaoan.NTR {
  -webkit-filter: blur(1.1px);
  filter: blur(1.1px);
  color: #62896c;
}

.ts.xiaoan.love {
  color: #b788a3;
}

.ts.xiaoan.EarlySpring {
  color: #4c4c4c;
}

/*
 *	動畫
 *	------------------
 *				 速度
 *	fast 				 快
 *	slow 				 慢
 *	early spring 夭壽慢
 *	-----------------
 *	簡寫
 *	animation: name duration timing-function delay iteration-count direction;
 *	----------------- */
/* 震動 */
.shake {
  -webkit-animation: shake .01s linear infinite;
  animation: shake .01s linear infinite;
}

.shake.fast {
  -webkit-animation-duration: .005s;
  animation-duration: .005s;
}

.shake.slow {
  -webkit-animation-duration: .02s;
  animation-duration: .02s;
}

.shake.early.spring {
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.52deg);
    transform: translate(-2.5px, -2.5px) rotate(-1.52deg);
    opacity: 0.95;
  }
  40% {
    -webkit-transform: translate(-2.5px, 2.5px) rotate(2.5deg);
    transform: translate(-2.5px, 2.5px) rotate(2.5deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(-1.75deg);
    transform: translate(2.5px, 2.5px) rotate(-1.75deg);
    opacity: 0.95;
  }
  60% {
    -webkit-transform: translate(0px, 0px) rotate(5deg);
    transform: translate(0px, 0px) rotate(5deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(2.5px, -2.5px) rotate(2.5deg);
    transform: translate(2.5px, -2.5px) rotate(2.5deg);
    opacity: 0.7;
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.52deg);
    transform: translate(-2.5px, -2.5px) rotate(-1.52deg);
    opacity: 0.95;
  }
  40% {
    -webkit-transform: translate(-2.5px, 2.5px) rotate(2.5deg);
    transform: translate(-2.5px, 2.5px) rotate(2.5deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(-1.75deg);
    transform: translate(2.5px, 2.5px) rotate(-1.75deg);
    opacity: 0.95;
  }
  60% {
    -webkit-transform: translate(0px, 0px) rotate(5deg);
    transform: translate(0px, 0px) rotate(5deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(2.5px, -2.5px) rotate(2.5deg);
    transform: translate(2.5px, -2.5px) rotate(2.5deg);
    opacity: 0.7;
  }
}

/* 旋轉 */
.rotate {
  -webkit-animation: rotate .75s linear infinite;
  animation: rotate .75s linear infinite;
}

.rotate.fast {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
}

.rotate.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.rotate.early.spring {
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 嗑藥 */
.xiaoan.drug {
  background: -webkit-gradient(linear, left top, left bottom, from(#f00), color-stop(15%, #f0f), color-stop(33%, #00f), color-stop(49%, #0ff), color-stop(67%, #0f0), color-stop(84%, #ff0), to(#f00)) !important;
  background: -webkit-linear-gradient(top, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00) !important;
  background: -o-linear-gradient(top, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00) !important;
  background: linear-gradient(to bottom, #f00, #f0f 15%, #00f 33%, #0ff 49%, #0f0 67%, #ff0 84%, #f00) !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: drug 1s linear infinite, shake 10ms linear infinite, pulse-animation 10ms linear infinite, 2s linear infinite icon-loading;
  animation: drug 1s linear infinite, shake 10ms linear infinite, pulse-animation 10ms linear infinite, 2s linear infinite icon-loading;
  background-size: 700% 700% !important;
}

@-webkit-keyframes drug {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

@keyframes drug {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

/* ㄉㄨㄞㄉㄨㄞ安 */
.poyon {
  -webkit-animation: poyon 0.5s infinite;
  animation: poyon 0.5s infinite;
}

.poyon.crazy {
  -webkit-animation: crazypoyon 0.5s infinite;
  animation: crazypoyon 0.5s infinite;
}

.poyon.fast {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
}

.poyon.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.poyon.early.spring {
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
}

@-webkit-keyframes poyon {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

@keyframes poyon {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

@-webkit-keyframes crazypoyon {
  0%, 100% {
    -webkit-transform: scale(1, 1) translateX(10px) rotate(5deg);
    transform: scale(1, 1) translateX(10px) rotate(5deg);
  }
  25% {
    -webkit-transform: scale(0.9, 1.7) translateY(-10px) translateZ(-10px);
    transform: scale(0.9, 1.7) translateY(-10px) translateZ(-10px);
  }
  50% {
    -webkit-transform: scale(1.7, 0.8) translateX(-10px) rotate(-5deg);
    transform: scale(1.7, 0.8) translateX(-10px) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05) translateY(10px);
    transform: scale(0.95, 1.05) translateY(10px);
  }
}

@keyframes crazypoyon {
  0%, 100% {
    -webkit-transform: scale(1, 1) translateX(10px) rotate(5deg);
    transform: scale(1, 1) translateX(10px) rotate(5deg);
  }
  25% {
    -webkit-transform: scale(0.9, 1.7) translateY(-10px) translateZ(-10px);
    transform: scale(0.9, 1.7) translateY(-10px) translateZ(-10px);
  }
  50% {
    -webkit-transform: scale(1.7, 0.8) translateX(-10px) rotate(-5deg);
    transform: scale(1.7, 0.8) translateX(-10px) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05) translateY(10px);
    transform: scale(0.95, 1.05) translateY(10px);
  }
}

/* 蹲跳安 */
.squatting {
  -webkit-animation: squatting 2s infinite;
  animation: squatting 2s infinite;
}

.squatting.fast {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.squatting.slow {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.squatting.early.spring {
  -webkit-animation-duration: 200s;
  animation-duration: 200s;
}

@-webkit-keyframes squatting {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  5% {
    -webkit-transform: scale(1, 0.1) translateY(300px);
    transform: scale(1, 0.1) translateY(300px);
  }
  25% {
    -webkit-transform: scale(1.6, 2) translateY(-300px);
    transform: scale(1.6, 2) translateY(-300px);
  }
  40% {
    -webkit-transform: scale(1, 0.5) translateY(100px);
    transform: scale(1, 0.5) translateY(100px);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes squatting {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  5% {
    -webkit-transform: scale(1, 0.1) translateY(300px);
    transform: scale(1, 0.1) translateY(300px);
  }
  25% {
    -webkit-transform: scale(1.6, 2) translateY(-300px);
    transform: scale(1.6, 2) translateY(-300px);
  }
  40% {
    -webkit-transform: scale(1, 0.5) translateY(100px);
    transform: scale(1, 0.5) translateY(100px);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* 邊緣安 */
.edge {
  -webkit-animation: edge 5s infinite;
  animation: edge 5s infinite;
}

.edge.fast {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

.edge.slow {
  -webkit-animation-duration: 7.5s;
  animation-duration: 7.5s;
}

.edge.early.spring {
  -webkit-animation-duration: 500s;
  animation-duration: 500s;
}

@-webkit-keyframes edge {
  0% {
    100% {
    }
    opacity: 0.01;
  }
  50% {
    opacity: 0.05;
  }
}

@keyframes edge {
  0% {
    100% {
    }
    opacity: 0.01;
  }
  50% {
    opacity: 0.05;
  }
}

/* 多彩安 */
.colorful {
  -webkit-animation: colorful 5s infinite;
  animation: colorful 5s infinite;
  background-color: red !important;
}

.colorful.fast {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

.colorful.slow {
  -webkit-animation-duration: 7.5s;
  animation-duration: 7.5s;
}

.colorful.early.spring {
  -webkit-animation-duration: 500s;
  animation-duration: 500s;
}

@-webkit-keyframes colorful {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes colorful {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.ts.scrollbar::-webkit-scrollbar {
  height: 20px;
  width: 20px;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 0 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 7px 0px rgba(0, 0, 0, 0.1);
}

.ts.scrollbar::-webkit-scrollbar-thumb {
  background: url(scrollbar/xiaoan.png) #b3b2b2 center;
  background-size: 20px;
}

.ts.scrollbar::-webkit-scrollbar-button:start {
  background: url(scrollbar/start.png) #b3b2b2 center no-repeat;
  background-size: 15px;
}

.ts.scrollbar::-webkit-scrollbar-button:end {
  background: url(scrollbar/end.png) #b3b2b2 center no-repeat;
  background-size: 15px;
}

.ts.scrollbar::-webkit-scrollbar:hover {
  -webkit-box-shadow: inset 0 0 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 7px 0px rgba(0, 0, 0, 0.2);
}

.ts.scrollbar::-webkit-scrollbar:active {
  -webkit-box-shadow: inset 0 0 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 7px 0px rgba(0, 0, 0, 0.3);
}

.ts.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8e8e8e;
}

.ts.scrollbar::-webkit-scrollbar-button:horizontal:hover, .ts.scrollbar::-webkit-scrollbar-button:hover {
  background-color: #8e8e8e;
}

.ts.scrollbar::-webkit-scrollbar-thumb:active, .ts.scrollbar::-webkit-scrollbar-button:active {
  background-color: #6f6f6f;
}

.ts.scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: url(scrollbar/xiaoan-horizontal.png) #b3b2b2 center;
  background-size: 25px;
}

.ts.scrollbar::-webkit-scrollbar-button:horizontal:start {
  background: url(scrollbar/horizontal-start.png) #b3b2b2 center no-repeat;
  background-size: 15px;
}

.ts.scrollbar::-webkit-scrollbar-button:horizontal:end {
  background: url(scrollbar/horizontal-end.png) #b3b2b2 center no-repeat;
  background-size: 15px;
}

/*# sourceMappingURL=ts.xiaoan.css.map */