.ts.basic.link.fluid.top.attached.menu.horizontally.scrollable
    .ts.container
        a.item(href='index.html') Tocas Xiaoan
        a.item(href='main-basic.html') 基本
        a.item(href='main-scrollbar.html') 卷軸
        a.item(href='main-icon-font.html') Icon Font
        a.item(href='main-basic-js.html') Js
        a.item(href='main-ui-kit.html') UI Kit
        a.item(href='main-tocas-example.html') 範例集
        a.right.item(href='https://github.com/gnehs/Tocas-UI-Xiaoan/', target='_blank') GitHub