include _header.jade
br
br
.ts.container
    .ts.stackable.grid
        .eight.wide.column
            h3.ts.header 引用
                .sub.header 下載並解壓縮後，保持資料夾結構，丟到你的網頁目錄，即可開始使用！
            +code
                ='<!-- 洨洨安 CSS -->'
                br
                = '<link rel="stylesheet" href="ts.xiaoan.min.css">'
                br
                ='<!-- 洨洨安 JS -->'
                br
                = '<script src="ts.xiaoan.min.js"></script>'
            br
            br
        .eight.wide.column
            h3.ts.header 外部引用
                .sub.header 不放在自家伺服器的方法，這裡有兩個位置可以自由選用
            +code
                ='<!-- RawGit  -->'
                br
                ='<!-- 洨洨安 CSS -->'
                br
                = '<link rel="stylesheet" href="//cdn.rawgit.com/gnehs/Tocas-UI-Xiaoan/master/ts.xiaoan.min.css">'
                br
                ='<!-- 洨洨安 JS -->'
                br
                = '<script src="//cdn.rawgit.com/gnehs/Tocas-UI-Xiaoan/master/ts.xiaoan.min.js"></script>'
            +code
                ='<!-- GitHub Page -->'
                br
                ='<!-- 洨洨安 CSS -->'
                br
                = '<link rel="stylesheet" href="//xiaoan.tocas-ui.com/ts.xiaoan.min.css">'
                br
                ='<!-- 洨洨安 JS -->'
                br
                = '<script src="//xiaoan.tocas-ui.com/ts.xiaoan.min.js"></script>'
            br
            br
        .eight.wide.column
            h3.ts.header 洨洨安和他的品種
                .sub.header 洨安洨安洨
            .ts.circular.xiaoan
            .ts.primary.horny.xiaoan
            .ts.info.instead.xiaoan
            .ts.demon.warning.xiaoan
            .ts.demon.instead.positive.xiaoan
        .eight.wide.column
            h3.ts.poyon.header 動畫組件
                .sub.header 一樣適用於 Tocas UI 組件
            .ts.poyon.circular.xiaoan
            .ts.poyon.input
                input(type='text', placeholder='我會過勞')


    h3.ts.header 貢獻者
        .sub.header 沒有這些人，一樣會有 Tocas Xiaoan (##
    .ts.six.doubling.cards
        .ts.card
            .image
                img(src='https://avatars0.githubusercontent.com/u/8154476?v=3&s=460')
            .content
                .header Henry Wu
        .ts.card
            .image
                img(src='https://avatars1.githubusercontent.com/u/20151124?v=3&s=460')
            .content
                .header RexTg
        .ts.card
            .image
                img(src='https://avatars0.githubusercontent.com/u/7308718?v=3&s=460')
            .content
                .header Yami Odymel
include _footer.jade