doctype html
html
    head
        title 洨洨安配種實驗室
        meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        // ICON
        link(rel='icon',href='icon.png')
        // Tocas UI
        link(rel='stylesheet', href='https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.css')
        // Tocas JS
        script(src='https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.js')
        // tocas Xiaoan
        link(href='ts.xiaoan.css', rel='stylesheet')
        // Tocas Xiaoan JS
        script(src='ts.xiaoan.js')
        // JQ https://cdnjs.com/libraries/jquery/
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // Font
        link(href='https://fonts.googleapis.com/css?family=Ubuntu+Mono', rel='stylesheet')
        // OgTags
        include /jade/_tags.jade
        +social_tags('洨洨安配種實驗室','嫌洨洨安 CSS 顏色太少嗎？現在，透過我們實驗室的即時配種，配出美麗顏色的洨安。Powered by 洨洨安實驗室','https://xiaoan.tocas-ui.com/breeding-og.jpg','https://xiaoan.tocas-ui.com/breeding.html')
    body
        include _nav.jade
        .ts.fluid.huge.slate
            i.icon.xiaoan.face
            .header 洨洨安配種實驗室
            .description Powered by 洨洨安實驗室
        br
        br
        .ts.narrow.container
            .ts.inverted.warning.message.mobile.only
                .header 溫馨提醒
                p 如果您使用手機等小螢幕裝置使用這個網頁體驗可能不會很理想，建議使用電腦
            h2.ts.header 預覽區
                .sub.header 給你看實驗室透過您的數據及時配種配出了三小，根據您的螢幕大小，洨安數量會有所增減
            #perview.ts.center.aligned.segment
                .ts.instead.xiaoan.large
                .ts.demon.instead.xiaoan.large
                .ts.tissue.xiaoan.large.device.only
                .ts.face.instead.xiaoan.large
                .ts.funny.face.xiaoan.large.device.only
                .ts.horny.instead.xiaoan.large.device.only
                .ts.kemonomimi.instead.xiaoan.large.device.only

            h2.ts.header 配種區
                .sub.header 調整您的數據，配出美麗的洨安
            #breeding.ts.grid
                .eight.wide.column
                    h6.ts.header Grayscale
                        .inline.sub.header 黑白
                    .ts.slider
                        .ts.basic.right.pointing.label.large.device.only 0%
                        input#grayscale(type='range')
                        .ts.basic.left.pointing.label.large.device.only 100%
                    h6.ts.header Sepia
                        .inline.sub.header 懷舊
                    .ts.slider
                        .ts.basic.right.pointing.label.large.device.only 0%
                        input#sepia(type='range')
                        .ts.basic.left.pointing.label.large.device.only 100%
                    h6.ts.header Saturate
                        .inline.sub.header 飽和
                    .ts.slider
                        .ts.basic.right.pointing.label.large.device.only 0%
                        input#saturate(type='range')
                        .ts.basic.left.pointing.label.large.device.only 100%
                    h6.ts.header Contrast
                        .inline.sub.header 對比
                    .ts.slider
                        .ts.basic.right.pointing.label.large.device.only 0%
                        input#contrast(type='range')
                        .ts.basic.left.pointing.label.large.device.only 200%
                .eight.wide.column
                    h6.ts.header Hue-rotate
                        .inline.sub.header 色相旋轉
                    .ts.slider
                        .ts.basic.right.pointing.label.large.device.only 0deg
                        input#huerotate(type='range')
                        .ts.basic.left.pointing.label.large.device.only 360deg
                    h6.ts.header Invert
                        .inline.sub.header 負片
                    .ts.slider
                        .ts.basic.right.pointing.label.large.device.only 0%
                        input#invert(type='range')
                        .ts.basic.left.pointing.label.large.device.only 100%
                    h6.ts.header Brightness
                        .inline.sub.header 亮度
                    .ts.slider
                        .ts.basic.right.pointing.label.large.device.only 0%
                        input#brightness(type='range')
                        .ts.basic.left.pointing.label.large.device.only 100%
                    h6.ts.header Blur
                        .inline.sub.header 模糊
                    .ts.slider
                        .ts.basic.right.pointing.label.large.device.only 0px
                        input#blur(type='range')
                        .ts.basic.left.pointing.label.large.device.only 10px
            h2.ts.header 數值
                .sub.header 手動輸入數值
            .ts.form
                #Num.fields
                    .field
                        label 黑白
                        input#grayscaleNum(type='text')
                    .field
                        label 懷舊
                        input#sepiaNum(type='text')
                    .field
                        label 飽和
                        input#saturateNum(type='text')
                    .field
                        label 對比
                        input#contrastNum(type='text')
                    .field
                        label 色相旋轉
                        input#huerotateNum(type='text')
                    .field
                        label 負片
                        input#invertNum(type='text')
                    .field
                        label 亮度
                        input#brightnessNum(type='text')
                    .field
                        label 模糊
                        input#blurNum(type='text')

            h2.ts.header 數據
                .sub.header 您的配種數據，可以搭配 Tocas Xiaoan 使用，也可以將 CSS 交給開發人員，也許洨洨安 CSS 下一個版本就會加入了呢！
            .ts.segments
                .ts.primary.segment CSS
                #CodeForCSS.ts.segment.code // 調整以上滑桿，配種出您的洨洨安
            br
            .ts.segments
                .ts.primary.segment HTML
                #CodeForHtml.ts.segment.code // 建議先調整負片滑桿
            br
            .ts.segments
                .ts.primary.segment Pug/Jade
                #CodeForJade.ts.segment.code // Powered by 洨洨安實驗室
        
        // 配種中心專用
        script(src='breeding.js')
        // footer
        include _footer.jade