.ts.relaxed.grid
          div.sixteen.wide.mobile.four.wide.computer.column
            .ts.borderless.secondary.vertical.large.menu
              .ts.primary.header 開始使用
              a.item(href='#引用') 引用
              a.item(href='#外部CDN') 外部 CDN
              .ts.primary.header 種類
              a.item(href='#基本') 基本
              a.item(href='#替身') 替身
              .ts.primary.header 外觀
              a.item(href='#尺寸') 尺寸
              a.item(href='#流動') 流動
              a.item(href='#圓角') 圓角
              a.item(href='#圓形') 圓形
              a.item(href='#置中') 置中
              a.item(href='#震動') 震動
          .sixteen.wide.mobile.column.twelve.wide.computer
            h2.ts.header(id='引用') 引用
            | 下載並解壓縮後，保持資料夾結構，丟到你的網頁目錄，即可開始使用！
            .ts.secondary.code.segment
              = '<link rel="stylesheet" href="ts.xiaoan.css">'
            br
            br
            h2.ts.header(id='外部CDN') 外部 CDN
            | 你也可以使用 RawGit 提供的 CDN，但不保證隨時都處於上線狀態。
            .ts.secondary.code.segment
             = '<link rel="stylesheet" href="https://cdn.rawgit.com/gnehs/Tocas-UI-Xiaoan/master/ts.xiaoan.css">'
            | 或者你也可以使用 GitHub Page 提供的 CDN，但不保證隨時都處於上線狀態。
            .ts.secondary.code.segment
             = '<link rel="stylesheet" href="https://xiaoan.tocas-ui.com/ts.xiaoan.css">'
            br
            br
            h2.ts.header(id='基本')
              | 基本
              span.sub.header 最基本的洨安。
            .ts.xiaoan
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<div class="ts xiaoan"></div>'
            br
            br
            h2.ts.header(id='替身')
              | 替身
              span.sub.header 你可以使用他的替身。
            .ts.instead.xiaoan
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<div class="ts instead xiaoan"></div>'
            br
            br
            h2.ts.header(id='尺寸')
              | 尺寸
              span.sub.header 提供了八種尺寸。
            .ts.mini.xiaoan
            .ts.tiny.xiaoan
            .ts.small.xiaoan
            .ts.xiaoan
            .ts.large.xiaoan
            .ts.big.xiaoan
            .ts.huge.xiaoan
            .ts.massive.xiaoan
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<div class="ts mini xiaoan"></div>'
              br
              = '<div class="ts tiny xiaoan"></div>'
              br
              = '<div class="ts small xiaoan"></div>'
              br
              = '<div class="ts xiaoan"></div>'
              br
              = '<div class="ts large xiaoan"></div>'
              br
              = '<div class="ts big xiaoan"></div>'
              br
              = '<div class="ts huge xiaoan"></div>'
              br
              = '<div class="ts massive xiaoan"></div>'
              br
            br
            br
            h2.ts.header(id='流動')
              | 流動
              span.sub.header 尺寸也可以是流動的，寬度會直接變成容器的 100%。
            .ts.fluid.xiaoan
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<div class="ts fluid xiaoan"></div>'
            br
            br
            h2.ts.header(id='圓角')
              | 圓角
              span.sub.header 不如加上一點圓角？
            .ts.rounded.xiaoan
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<div class="ts rounded xiaoan"></div>'
            br
            br
            h2.ts.header(id='圓形')
              | 圓形
              span.sub.header 你要圓形的也行。
            .ts.circular.xiaoan
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<div class="ts circular xiaoan"></div>'
            br
            br
            h2.ts.header(id='置中')
              | 置中
              span.sub.header 可以左右置中，置右呢？自己寫吧。
            .ts.centered.xiaoan
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<div class="ts centered xiaoan"></div>'
            br
            br
            h2.ts.header(id='震動')
              | 震動
              .ts.circular.label 0.2 新功能
              span.sub.header 洨安也能震動！
            .ts.shake.xiaoan
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<div class="ts shake xiaoan"></div>'
            br
            br