.ts.relaxed.grid
          div.sixteen.wide.mobile.four.wide.computer.column
            .ts.borderless.secondary.vertical.large.menu
              .ts.primary.header 種類
              a.item(href='#基本') 基本
              a.item(href='#替身') 替身
          .sixteen.wide.mobile.column.twelve.wide.computer
            h2.ts.header(id='基本')
              | 基本
              span.sub.header 最基本的洨安，大小預設與同層字級相同。
            i.icon.xiaoan
            |  2016 始春
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<i class="xiaoan icon"></i> 2016始春'
            br
            br
            h2.ts.header(id='替身')
              | 替身
              span.sub.header 你可以使用他的替身。
            i.icon.instead.huge.xiaoan
            .ts.secondary.code.segment
              .ts.top.right.attached.label 原始碼
              = '<i class="huge xiaoan instead icon"></i>'
            br
            br