doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Tocas UI
    link(rel='stylesheet', href='https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.css')
    // Tocas JS
    script(src='https://cdn.rawgit.com/TeaMeow/TocasUI/2.3.2/dist/tocas.js')
    link(href='ts.xiaoan.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu+Mono', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    title .ts.xiaoan 洨洨安 CSS
    // SEO
    meta(name='keywords', content='洨洨安')
    meta(name='author', content='棒棒勝')
    meta(name='description', content='洨洨安 CSS!')
    meta(name='URL', content='https://xiaoan.tocas-ui.com/')
    // open graph data
    meta(property='og:title', content='洨洨安')
    meta(property='og:type', content='website')
    meta(property='og:image', content='og.jpg')
    meta(property='og:description', content='洨洨安 CSS!')
    meta(property='article:author', content='https://www.facebook.com/gnehsouo/')
    style.
        code,
        .code,
        .code mark {
        font-family: 'Ubuntu Mono', monospace;
        word-break: break-all;
        }
        *{
        font-family: 'Raleway',-apple-system, "Source Han Sans TC","Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN","Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
        }
  body
    header.ts.heading.vertically.padded.fluid.slate
      .ts.center.aligned.container
        .ts.shake.huge.circular.xiaoan
        h1.ts.center.aligned.header
          | .ts.xiaoan
          .sub.header
            | 洨洨安 CSS by 
            a(href='http://gnehs.com.tw') 棒棒勝
            |  / Docs by 
            a(href='https://omwu.me') Henry Wu
        .ts.separated.buttons
            a.ts.labeled.icon.primary.large.button(href='https://github.com/gnehs/Tocas-UI-Xiaoan/releases/latest', target='_blank')
                i.download.icon
                | 下載
            a.ts.labeled.icon.inverted.large.button(href='https://github.com/gnehs/Tocas-UI-Xiaoan', target='_blank')
                i.github.icon
                | GitHub
      .ts.narrow.container.relaxed.grid
        .large.device.only.four.wide.column
        .sixteen.wide.mobile.twelve.wide.computer.column
          #first.ts.bottom.attached.three.item.tabbed.menu
            a.active.item(data-tab='基本用法') 基本用法
            a.item(data-tab='Icon Font') Icon Font
            a.item(data-tab='Tocas UI 範例') Tocas UI 範例
    .ts.container
      .ts.active.bottom.attached.tab(data-tab='基本用法')
        br
        br
        include _basic.jade
      .ts.bottom.attached.tab(data-tab='Icon Font')
        br
        br
        include _icon-font.jade
      .ts.bottom.attached.tab(data-tab='Tocas UI 範例')
        br
        br
        include _tocas-example.jade
    script.
      ts('#first.tabbed.menu .item').tab();